@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

/* variables */
:root {
  --black: rgba(0, 0, 0, 1);
  --faded-black: #333;
  --white: #fff;
  --red: #ef233c;
}

/* reset to default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: var(--white);
  background-color: var(--black);
  display: flex;
}
ul {
  background-color: var(--faded-black);
  padding: 10px;
  width: 300px;
}
.film-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 300ms ease;
  width: 100%;
}
.film-item:hover {
  background-color: var(--red);
}
#main {
  width: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  width: 300px;
  background-color: var(--faded-black);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px;
  line-height: 1.5rem;
  word-spacing: 0.25rem;
}
#buy-ticket {
  background-color: var(--red);
  color: var(--white);
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.5rem;
  transition: all 300ms ease;
  cursor: pointer;
}
#buy-ticket:hover {
  background-color: var(--white);
  color: var(--red);
}
